<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <p style="color:rgb(0, 112, 0)">{{statusMessage}}</p>
    <h1 style="color:rgb(238, 148, 89)">Blog Website</h1>
    <a href="/newblog">Make a new blog</a>
    <br>
    <a href="/about">About page</a>
    <h2>Current blogs:</h2>
    <ul>
        {{#each blogs}}
        <li>
            <a href="/blog/{{this}}">{{this}}</a>
        </li>        
        {{/each}}
        
    </ul>
</body>
</html>