html{
    background-color: rgb(226, 226, 226);
    font-family: "Comic Sans", "sans-serif";
}
h1 {
    /*  */
    font-size: 60px;
    text-align: center;
    font-family: "Comic Sans", "sans-serif";
}
p{
    text-align: center;
    font-size: 0.8em;
    line-height: 2;
    letter-spacing: 0.05vw;
    font-family: "Comic Sans", "sans-serif";
}
ul{
    /* list-style-position: inside; */
    text-align: center;
    font-size: 0.8em;
    /* line-height: 2;
    letter-spacing: 1px; */
    font-family: "Comic Sans", "sans-serif";
    list-style-position: inside;
}
h2, input, textarea {
    text-align: center;
}

div{
    text-align: center;
}

a{
    
    font-size: 0.8em;
    line-height: 2;
    letter-spacing: 1px;
    font-family: "Comic Sans", "sans-serif";
}